html, body {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100vh;
  background: #121212;
  overflow: hidden; }

body {
  background: url("../img/hero.jpg");
  background-size: cover; }

img {
  width: 100%; }

.logo {
  position: fixed;
  font-family: 'Poppins', sans-serif;
  line-height: 80px;
  margin-left: 2em;
  color: #fff;
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
  zoom: 1; }

.logo ion-icon {
  color: #6adb9d;
  margin-right: 7px;
  position: relative;
  top: 1px;
  z-index: 1; }

.contact {
  position: fixed;
  color: #7c7c7c;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  right: 100px;
  line-height: 80px;
  z-index: 1; }

.menu {
  position: fixed;
  color: #6adb9d;
  right: 2em;
  top: 4px;
  line-height: 80px;
  z-index: 1; }

.menu ion-icon {
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
  color: #6adb9d; }

.header {
  position: absolute;
  top: 46%;
  left: 32%;
  transform: translate(-50%, -50%);
  z-index: 1; }

.ml7 {
  position: relative;
  font-weight: 900;
  font-size: 3.7em; }

.ml .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden; }

.ml7 .letter {
  transform-origin: 0% 100%;
  display: inline-block;
  line-height: 1em; }

h1 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder !important;
  font-size: 46px !important;
  margin-bottom: 0px;
  text-transform: uppercase;
  margin-bottom: 20px; }

#tagline {
  width: 640px; }

p {
  color: #5f5f5f;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 0; }

.buttons {
  margin-top: 40px; }

button {
  margin-right: 10px !important;
  padding: 14px 30px;
  border: none;
  color: #fff;
  font-size: 12px !important;
  letter-spacing: 4px;
  font-weight: 300;
  cursor: pointer; }

#one {
  background: none;
  border: 0.3pt solid rgba(255, 255, 255, 0.3); }
  #one:hover {
    background: linear-gradient(135deg, #db6ad2 0%, #a217a7 100%); }

#two {
  background: linear-gradient(135deg, #6adb9d 0%, #17a758 100%); }
  #two:hover {
    background: linear-gradient(135deg, #db6ad2 0%, #a217a7 100%); }

.media {
  position: absolute;
  top: 38%;
  z-index: 1;
  right: 6%; }

.media ul {
  position: absolute;
  list-style: none; }

.media ul li {
  padding: 12px 0;
  display: inline-block !important;
  text-decoration: none;
  cursor: pointer; }
  .media ul li ion-icon {
    color: #6adb9d; }
    .media ul li ion-icon:hover {
      color: #a217a7; }

.bottom-text {
  position: absolute;
  z-index: 1;
  color: grey;
  font-size: 18px;
  font-family: monospace;
  margin-left: 2em;
  bottom: 40px; }

.copyright {
  position: absolute;
  z-index: 1;
  color: grey;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin-right: 2em;
  bottom: 40px;
  right: 0%; }

.loading-screen {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #0a0a0a;
  z-index: 2; }

.ring {
  margin: 0%;
  padding: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2;
  width: 40%;
  opacity: 0.7; }

.ringOne img {
  animation: rotateRing 2s linear infinite; }

.ringTwo img {
  animation: rotateRing 8s linear infinite; }

@keyframes rotateRing {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@media (max-width: 900px) {
  .loading-screen {
    display: none; }
  .ring img {
    display: none; }
  .header p, button, .media, h1 {
    display: none; } }
